<div class="edit-homework-modal-wrapper" (click)="closeModalHandler()">
    <div class="edit-homework-modal" (click)="$event.stopPropagation()">
        <h1 class="modal-header">Homework #{{ editingHomework.number }}</h1>
        <div class="modal-content">
            <div class="modal-content__input">
                <div class="modal-content__filename">
                    <span class="bold-font">Files: </span>{{ mode === 'student' ? editingHomework.fileName : editingHomework.teacherFile }}</div>
                <app-ui-input
                        class="ui-input"
                        [type]="'file'"
                        (input)="uploadFile($event)"
                ></app-ui-input>
            </div>
            <div class="modal-content__field">
                <span class="bold-font">Date: </span>
                {{ editingHomework.date }}
            </div>
            <div class="modal-content__field">
                <span class="bold-font">Status: </span>
                <span>{{ editingHomework.status }}</span>
                <span class="checkbox-button" (click)="updateStatus()"></span>
                <span class="status-icon" [ngStyle]="{ backgroundImage: checkedIcon }"></span>
            </div>
            <div class="modal-content__comment">
                <div class="modal-content__comment_title">
                    <span class="bold-font">{{ mode === 'student' ? 'Teacher\'s comment' : 'Your comment' }}</span>
                    <span [ngClass]="isEditingComment ? 'checkbox-button' : 'edit-button'" (click)="editComment()"></span>
                </div>
                <div class="modal-content__comment_wrapper">
                    <div class="modal-content__comment_text">
                        <span *ngIf="!isEditingComment">{{ editingHomework.comment }}</span>
                        <textarea class="comment-textarea" *ngIf="isEditingComment" [(ngModel)]="comment" autofocus>{{ editingHomework.comment }}</textarea>
                    </div>
                    <div class="modal-content__comment_rate" *ngIf="mode === 'student'">{{ editingHomework.rate }}</div>
                </div>
            </div>
            <div class="modal-content__input"
                 [ngStyle]="{
                     opacity: editingHomework.teacherFile.length ? 0 : .2,
                     cursor: editingHomework.teacherFile.length ? 'pointer' : 'default'
                 }">
                <div class="modal-content__filename">Teacher's files</div>
                <a [href]="editingHomework.teacherFile || ''">
                    <app-ui-input
                            [disabled]="!editingHomework.teacherFile.length"
                            class="ui-input download-icon"
                            [type]="'file'"
                    ></app-ui-input>
                </a>
            </div>
            <a *ngIf="mode === 'student'"
               (click)="deleteHomework()"
               class="delete-button">
                Delete homework
                <span class="trash-icon"></span>
            </a>
        </div>
    </div>
</div>
