<div class="navigation">
    <p class="avarage-rate">Avarage rate <span class="avarage-rate__number" [ngStyle]="{ background: buttonColor }">{{ averageRate }}</span></p>
    <div *ngFor="let student of studentNames, index as i"
         (click)="handleSelect(student)"
         class="student">
        <span class="student__name">
            {{ student }}
            <span *ngIf="selectedValue === student" class="student__selected"></span>
        </span>
    </div>
</div>
<app-sheet [mode]="mode" (openEditModal)="openEditModal($event)"></app-sheet>
<app-student-edit-modal
        *ngIf="isEditPopupVisible && editingHomework"
        (closeEditModal)="closeEditModal()"
        [editingHomework]="editingHomework"
        [mode]="mode"
></app-student-edit-modal>
