<section class="login">
   <div class="login__wrapper">
       <img class="login__logo" src="../../assets/projector.png">
       <app-ui-input
               placeholder="Email"
               class="login__email"
               color="#ffffff"
               (input)="handleEmail($event)"
       ></app-ui-input>
       <app-ui-input
               [placeholder]="isLogin ? 'Password' : 'Create password'"
               type="password"
               class="login__password"
               (input)="handlePassword($event)"
       ></app-ui-input>
      <div class="login__buttons-wrapper">
          <app-ui-button
                  fontWeight="600"
                  fontSize="16px"
                  [name]="isLogin ? 'Sign up' : 'Back to login'"
                  background=""
                  class="login__button signup-button"
                  (clickButton)="resolveView()"
          ></app-ui-button>
          <app-ui-button
                  fontWeight="600"
                  fontSize="16px"
                  [name]="isLogin ? 'Login' : 'Sign up'"
                  background=""
                  (clickButton)="isLogin ? login() : signUp()"
                  class="login__button"
          ></app-ui-button>
      </div>
   </div>
</section>
