<div class="navigation">
    <p class="avarage-rate">Avarage rate <span class="avarage-rate__number" [ngStyle]="{ background: buttonColor }">4.3</span></p>
    <app-ui-button name="Add homework +"
                   color="#ffffff"
                   background="#1464f6"
                   border="none"
                   (clickButton)="openModal()"
                   padding="20px 60px"></app-ui-button>
</div>
<app-sheet [mode]="mode"></app-sheet>
<app-student-edit-modal *ngIf="isVisible"></app-student-edit-modal>
