<div #createModal class="navigation">
    <p class="avarage-rate">Avarage rate <span class="avarage-rate__number" [ngStyle]="{ background: buttonColor }">{{ averageRate }}</span></p>
    <app-ui-button name="Add homework +"
                   color="#ffffff"
                   background="#1464f6"
                   border="none"
                   (clickButton)="openModal()"
                   padding="20px 60px"></app-ui-button>
</div>
<app-sheet [mode]="mode" (openEditModal)="openEditModal($event)" ></app-sheet>
<app-create-homework
        *ngIf="isPopupVisible"
        (closeModal)="openModal()"
></app-create-homework>
<app-student-edit-modal
        *ngIf="isEditPopupVisible && editingHomework"
        (closeEditModal)="closeEditModal()"
        [editingHomework]="editingHomework"
        [mode]="mode"
></app-student-edit-modal>
