body {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  width: 100%;
}

.header {
  width: 100%;
  display: block;
  padding: 15px 0;
  background-color: #0006f5;

  &__inner {
    max-width: 1170px;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    width: 100%;
  }
}

.student-panel {
  max-width: 1170px;
  display: block;
  width: 100%;
  margin: auto;
}

.teacher-panel {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 5fr;
}

.avarage-rate {
  font-size: 13px;
  font-weight: 600;
  margin: 16px 0;

  &__number {
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    font-size: 12px;
  }
}
