<section class="main-wrapper" *ngIf="authSrvice.isloggedIn">
  <header class="header">
    <div class="header__inner">
      <app-ui-button class="button"
                     name="Logout"
                     color="#000000"
                     background="#ffffff"
                     border="none"
                     padding="5px 12px 7px"
                     (clickButton)="logout()"
      ></app-ui-button>
    </div>
  </header>
  <app-student-panel *ngIf="authSrvice.userRole === 'student'" [mode]="role" class="student-panel"></app-student-panel>
  <app-teacher-panel *ngIf="authSrvice.userRole === 'teacher'" [mode]="role" [students]="students" class="teacher-panel"></app-teacher-panel>
</section>
<app-login *ngIf="!authSrvice.isloggedIn"></app-login>
