.sheet-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #e8e8e8;
  font-weight: 600;
  font-size: 13px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.status-filter {
  background-image: url("../components/svg/sort.svg");
  height: 15px;
  width: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 0 0 5px;
}

.sort {
  cursor: pointer;
}
